<button class="btn btn-primary" ng-click="showForm = !showForm">Add trip</button>
<form ng-show="showForm" ng-submit="addTrip(newTrip)"> 
  <h1>Create trip</h1>
  <fieldset class="form-group">
    <label>Group Name</label>
    <input ng-model="newTrip.name" class="form-control" type="text">
  </fieldset>
  <fieldset class="form-group">
    <label>Trip Description</label>
    <input ng-model="newTrip.description" class="form-control" type="text">
  </fieldset>
  <input class="btn btn-primary" type="submit" >
</form>

<ul>
  <li ng-repeat="trip in trips">
    <h1>{{trip.name}}</h1> 
    <p>{{trip.description}}</p> 
  </li>
</ul>